# BASIC PROGRAM

In [4]:
a=input("enter your name")
print(a)
print(type(a))

12.65748848
<class 'str'>

In [5]:
print(type(input()))

<class 'str'>

In [7]:
print(type(print()))

Hello
<class 'NoneType'>

In [21]:
a=int(input("enter number"))
b=int(input("enter number"))
print(a+b)

24

In [11]:
a=10
print(type(a))

<class 'int'>

type - casting : According to our need we can convert our datatype
1) inplicit type casting
2)explicit type casting

In [23]:
###Inplicit
#addition of a two number
a=input("enter your number")
b=input("enter your number")
c=int(a)
d=int(b)
print(c+d)

24

In [4]:
#explicit
no1=int(input("enter your number"))
no2=int(input("enter your number"))
print(no1+no2)

24

In [16]:
name=str(input("Enter your name"))
print("hello",name)

hello Adarsh

In [27]:
no1=float(input("enter your number"))
no2=float(input("enter your number"))
print(no1+no2)

24.3

int()<br>
12-verify<br>
12.9 -not verify (float)<br> 
float()<br>
12- 12.0 =verify<br>
12.4-verify

In [29]:
a=12.1
print(int(a))

12

In [30]:
no1=eval(input("enter your number"))
no2=eval(input("enter your number"))
print(int(no1+no2))

25

In [18]:
#employee data collect
name=input("enter your good name")
age=int(input("enter your age"))
salary=float(input("enter your salary"))
address=input("enter your address")
Martial_status=bool(input("enter your martial status"))
print("my name is ",name,type(name))
print("my age is ",age,type(age))
print("my salary is ",salary,type(salary))
print("my address is ",address,type(address))
print("my status is ",Martial_status,type(Martial_status))

my name is  Adarsh <class 'str'>
my age is  24 <class 'int'>
my salary is  200000.0 <class 'float'>
my address is  lucknow <class 'str'>
my status is  True <class 'bool'>

In [21]:
name=input("enter your name")
age=int(input("enter your cuurent age"))
print("my name is ",name ,"my age is",age ) 
print("my name is "+ name +"my age is",age )

my name is  adarsh tiwari my age is 24
my name is adarsh tiwarimy age is 24

Basic operator
1) arithicmatic operator
2) assignment operator
3) comparison

In [3]:
#1) example
a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)#decimal
print(a%b)#remainder
print(a**b)
print(a//b)#last pointing value

12
8
20
5.0
0
100
5

In [10]:
# 2) Assignment operator
a=5
b=10
a=b
b=a
print(a)
print(b)
#a=a+10

10
10

In [35]:
print(k +"shaheen")

NameError: name 'k' is not defined

In [43]:
a=a+2
b+=2-b=b+2
print(a+2)

18

**Identity Operators**:

In [48]:
j=12
print(j != 12)

False

In [14]:
x=5
y=4
x+=5
print(x)
x-=4
print(x)
x*=10
print(x)
x/=10
print(x)

10
6
60
6.0

# comparison operator

In [20]:
p=20
q=10
print(p==q)# return boolean value
print(p>q)
print(p<q)
print(p!=q)
print(p<=q)
print(p>=q)

False
True
False
True
False
True

# Logical operator

In [24]:
a=10
b=5
print(a==b and a!=b) #gives always first
print(a==b or a!=b) # gives always last
print(a !=b)

False
True
True

# Identity operator -is , is not

In [25]:
s=10
d=20
print(s is d) #==
print(s is not d) #!=

False
True

# Member ship operator
in 
not in

In [49]:
a=[10,20,30,40]
print(10 in a)
print(100 in a)
print(10 not in a)
print(100 not in a)

True
False
False
True

# unary operator
i++
i--

In [32]:
a=100
b=200
a=a+1 # a++
b=b+1 #b++
print(a)
print(b)

101
201

In [63]:
p=12
print(o+p)
o=10

NameError: name 'o' is not defined

In [66]:
n=12
if n==10:
    print("execution done")
print("execution not done")

execution not done

In [68]:
n=12
if n==12:
    print("execution done")
else:
 print("execution not done")

execution done

# Control flow
Control Flow-To control the execution of the program
1) conditional statement ex-if, if-else, if-elif-else
2) Loop statement-for , while
3) Iteration statement -break, continue, pass

In [70]:
name=input("enter your name")
if name=="shaheen" :
    print("Name is correct")

# wap to get a number and check it is even or odd

In [71]:
n=int(input("enter your number"))
if n%2==0:
    print("number is even",n)
else:
    print("number is odd",n)

number is even 12

# wap to check person is eligible for vote or not

In [72]:
age=int(input("enter your age"))
if age>=18:
    print("person is eligible")
else:
    print("not eligible")

not eligible

# # why we are using else

In [13]:
n=12
if n==12:
    print("number is match")
else:
  print("number is not match")

number is match

# do the sum of two number in a one line

In [8]:

print(int(input("enter your first number"))+int(input("enter your second number")))

24

In [18]:
day=input("enter your day")
if day=="Monday":
    print("today is monday")
elif day=="Tuesday":
    print("today is Tuesday")
elif day=="Wednesday":
    print("today is Wednesday")
elif day=="Thursday":
    print("today is Thursday")
elif day=="Friday":
    print("today is Friday")
elif day=="Saturday":
    print("today is Saturday")
elif day=="Sunday":
    print("sunday is there holiday")
else:
    print("you enter in incorrect manner")

you enter in incoorect manner

In [19]:
a=12
b=13
c=14
if a>b and a>c:
    print(a,"is largest")
elif b>a and b>c:
    print(b,"is largest")
else:
    print(c,"is largest")

14 is largest

In [1]:
a=12
b=13
c=14
if a>b :
    print(a,"is largest")
elif a>c:
    print(a, "is largest")
elif b>a and b>c:
    print(b,"is largest")
else:
    print(c,"is largest")

14 is largest

# looping statement :
python
'''1- For loop - for loop works until the ondition become True
syntax-



sequence="Shaheen"
for i in sequence:
    print(i)

2- While loop - while loop works until condition become False'''

In [1]:
seq="ABC"
for i in seq:
    print(i)

A
B
C

In [6]:
c="A+B+c" 
m=0
for i in c:
    print("index is ",m,"value is",i)
    m=m+1

index is  0 value is A
index is  1 value is +
index is  2 value is B
index is  3 value is +
index is  4 value is c

Python Range function -<br/> digit -(0,9) length-10
<br/>
```python
by default increment always of 1 
```First type range function <br/>
format range(n) - n is the length  work-staring (0) but ending(n-1) <br/>
format 2 range(m,n) - m is starting index ,n is ending index <br/>
format 3 range(m,n,incre/decre) , m is start , n is end , incre - i+1 , decre-i-1 <br/>
range(starting index , ending index)<br/>
length(15) - range(0,14)

In [3]:
for i in range(2,3):
    print(i)

2

In [ ]:
for i in range(15):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [9]:
for i in range(22):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21

In [10]:
for i in range(1,21):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [11]:
for i in range(1,51):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [12]:
for i in range(1,51,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [14]:
for i in range(2,51,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [15]:
for i in range(5,51,5):
    print(i,end=" ")

5 10 15 20 25 30 35 40 45 50

In [16]:
for i in range(5,50):
    print(i,end=" ")

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [21]:
n=5
for j in range(1,11):
    print(n,"*",j,"=",n*j)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

n=3
enter your number
enter your number
enter your number

n=5
enter your number-3 table
enter your number-5
enter your number-7
enter your number-8
enter your number-9

In [14]:
n=int(input("enter your choice"))
for i in range(n):
    m=int(input("enter your number for table"))
    for j in range(1,11):
     print(m,"*",j,"=",m*j)
print(end=" ")

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
41 * 1 = 41
41 * 2 = 82
41 * 3 = 123
41 * 4 = 164
41 * 5 = 205
41 * 6 = 246
41 * 7 = 287
41 * 8 = 328
41 * 9 = 369
41 * 10 = 410
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [20]:
n=int(input("enter your number"))
k=0
for i in range(1,n+1):
    if n%i==0:
        k=k+1
if k==2:
    print("prime number")
else:
    print("not prime")

prime number

# Pattern programs

In [21]:
for i in range(3):
    print(i*"A")

A
AA

In [24]:
for i in range(3):
    print(4*"#")

####
####
####

In [25]:
for i in range(3):
    print(2*"A")

AA
AA
AA

In [26]:
for i in range(3):
    print(4*"4")

4444
4444
4444

In [27]:
for i in range(3):
    print(4*4)

16
16
16

In [36]:
for i in range(3):
    print((i+1)*"*")

*
**
***

In [40]:
for i in range(5):
    print((i+1)*" *")

 *
 * *
 * * *
 * * * *
 * * * * *

In [41]:
for i in range(7):
    print((i+1)*"* ")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

#
##
###
####
#####

In [3]:
for i in range(5):
    print((i+1)*"#",(5-i)*" ")

#
##
###
####
#####

In [5]:
for i in range(10):
    print((i+1)*"#",(10-i)*' ')

#
##
###
####
#####
######
#######
########
#########
##########

In [28]:
for i in range(5):
    print((5-i)*"s"+(5-i)*"#")

sssss#####
ssss####
sss###
ss##
s#

In [29]:
# ,
# +
print("shaheen","shaheen","22")
print("shaheen"+"shaheen"+"22")

shaheen shaheen 22
shaheenshaheen22

In [ ]:
1
11
111
1111
11111

In [30]:
for i in range(5):
    print((i+1)*"1")

1
11
111
1111
11111

In [31]:
for i in range(5):
    print((i+1)*"2")

2
22
222
2222
22222

In [ ]:
##### 
#### 
### 
## 
#

In [35]:
for i in range(5):
    print((5-i)*"#"+(i+1)*"")

#####
####
###
##
#

In [ ]:
     #
    ##
   ###
  ####
 #####

In [38]:
for i in range(5):
    print((5-i)*" "+(i+1)*"#")

     #
    ##
   ###
  ####
 #####

In [ ]:
    #    
   ###   
  #####  
 #######

In [44]:
for i in range(5):
    print((4-i)*" "+(2*i+1)*"#"+(4-i)*" ")

    #
   ###
  #####
 #######
#########

#
##
###
####
###
##
#

In [13]:
for i in range(7):
    if i<4:
        print((i+1)*"#"+(3-i)*" ")
    else :
        print((7-i)*"#"+(i-3)*" ")

#
##
###
####
###
##
#

In [17]:
for i in range(7):
    if i<4:
        print((3-i)*" "+(i+1)*" #"+(3-i)*" ")
    else :
        print((i-3)*" "+(7-i)*" #"+(i-3)*" ")

    #
   # #
  # # #
 # # # #
  # # #
   # #
    #

 sss$ #sss
 ss$$ ##ss
 s$$$ ###s
 $$$$ ####
  ### ###
   ## ##
    # #

In [21]:
for i in range(7):
    if i<4:
        print((3-i)*" "+(i+1)*"#"+" "+(i+1)*"#"+(3-i)*" ")
    else:
        print((i-3)*" "+(7-i)*"#"+" "+(7-i)*"#"+(i-3)*" ")

   # #
  ## ##
 ### ###
#### ####
 ### ###
  ## ##
   # #

In [24]:
for i in range(5):
 for j in range(i+1):
  print(j,end=" ")

0 0 1 0 1 2 0 1 2 3 0 1 2 3 4

In [31]:
for i in range(5):
 for j in range(0,i+1):
  print((j+1),end="")
  print()

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

i=5
j=1,i+1
print(i)
print(j) <br>
i=10
j=0,i+1
print(i)
print(j)<br>
i=4
j=0,i+2
print(i)
print(j)<br>
i=11
j=1,i+1
print(i)
print(j)